.modal {
    position: absolute;
    background: var(--branco);
    display: flex;
    flex-direction: column;
    width: 94%;
    margin: 3% 0 3% 3%;
    height: 88%;
    align-items: center;
    padding: .5rem 0;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.70); 
}


.modal__mes{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.modal__mes___titulo{
    font-size: 24px;
    text-align: center;
}

/*.modal__fundo-ativo{
    max-height: 4rem;
    height: 3.7rem;
}*/


.modal__infos{
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-areas: 

        "operacao-entrada  operacao-saida"
        "seta seta"
        "valor-entrada  valor-saida"
    ;

    text-align: center;
}



.modal__operacao, .modal__valor {
    font-size: 20px;
}

.modal__operacao-entrada{
    grid-area: operacao-entrada;
  
}

.seta-esquerda{
    grid-area: seta;
    width: 90vw;
}

.modal__operacao-saida{
    grid-area: operacao-saida;
    margin-right: 1rem;
}

.modal__valor-entrada {
    grid-area: valor-entrada;
    color: var(--verde);
}

.modal__valor-saida{
    grid-area: valor-saida;
    color: var(--vermelho);
}

.seta-baixo{
    position: absolute;
    margin-top: 15%;
}

.btn__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20%;
}

.btn {
    width: 60px;
    height: 30px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-adicionar{
    background-color: var(--verde);

}

.btn-remover{
    background-color: var(--vermelho);
}

.btn-adicionar img{
    height: 3rem;    
}
