@import url('./reset.css');
@import url('Componentes/Header/Header.css');
@import url('Componentes/Nav/Nav.css');
@import url('Pages/Inicio/Inicio.css');
@import url('Componentes/Meses/Meses.css');
@import url('Componentes/Mes/Mes.css');
@import url('Componentes/Footer/Footer.css');
@import url('Componentes/Modal/Modal.css');
@import url('Componentes/BotaoOperacao/BotaoOperacao.css');
@import url('Componentes/BotaoPadrao/BotaoPadrao.css');
@import url('Componentes/Input/Input.css');
@import url('Componentes/Formulario/Formulario.css');

:root {
  --fonte-principal: 'Montserrat', Poppins;
  --cinza-padrao: #404040;
  --branco: #ffffff;
  --preto: #000000;
  --verde: #008000;
  --vermelho: #FF0000;
  --azul-saldo: #0000FF;
  --sombra: rgba(64,64,64,1);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--fonte-principal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
