footer {
    display: flex;
    justify-content: flex-end;
    background: var(--cinza-padrao);
    padding: 2.3rem .5rem .5rem 0;
}

.info__rodape {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.2);
}