header {
    background: var(--cinza-padrao);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .7rem;
    color: var(--branco);
}

header h1, h2 {
    font-size: 24px;
}